<div class="chat-info">
    <div class="chat-info-message">
    <div class="chat-name">{{name}}</div>
    <div class="last-message">{{lastMessage}}</div>
    </div>
    <div class="chat-info-meta">
    <div class="last-message-time">{{lastMessageTime}}</div>
        {{{SideBarChatListItemBadge}}}
    </div>
</div>
