<div class="{{overlayClass}}">
    <div class="add-user-modal">
        <button class="add-user-close" data-close="true">×</button>
        <h2>Добавить пользователя</h2>
        <form class="add-user-form">
            <label for="userId">ID пользователя</label>
            <input
                    type="text"
                    id="userId"
                    name="userId"
                    placeholder="Введите ID пользователя"
                    required
            />
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>
