<div class="{{overlayClass}}">
    <div class="add-user-modal">
        <button class="add-user-close" data-close="true">×</button>
        <h2>Добавить пользователя</h2>
        {{{form}}}
        <br>
        {{{userInfoItems}}}

    </div>
</div>
