<div class="dropdown">
  <input type="checkbox" id="dropdown-toggle" class="dropdown-checkbox">
  <label for="dropdown-toggle" class="dropdown-button">Меню</label>
  <nav class="dropdown-menu">
    <a class="dropdown-item link" href="#" data-page="authorization">Авторизация</a>
    <a class="dropdown-item link" href="#" data-page="registration">Регистрация</a>
    <a class="dropdown-item link" href="#" data-page="profile">Профиль</a>
    <a class="dropdown-item link" href="#" data-page="chats">Список чатов</a>
    <a class="dropdown-item link" href="#" data-page="chat">Чат</a>
    <a class="dropdown-item link" href="#" data-page="error-client">404</a>
    <a class="dropdown-item link" href="#" data-page="error-server">500</a>
  </nav>
</div>

