<div class="user-info-item">
    <img class="user-info-avatar" src="avatar.jpg" alt="User Avatar">
    <label class="user-info-label">
        <input  type="checkbox" class="user-info-checkbox">
        <span>Имя Фамилия</span>
    </label>
</div>