<div class="chat-header">
    <div class="chat-header__title">{{chatHeader}}</div>
    <div class="chat-header__buttons">
        {{{ ChatHeaderAddUser }}}
        {{{ ChatHeaderRemoveUser }}}
        {{{ ChatHeaderDeleteChat }}}
    </div>
</div>
