<div class="chat-item">
    {{> SideBarChatListItemAvatar name=name }}
    {{> SideBarChatListItemInfo
        name=name
        lastMessage=lastMessage
        lastMessageTime=lastMessageTime
        unreadCount=unreadCount
    }}
</div>
